<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create the new post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter the @username" type="text" name="username"/><br><br>
        <textarea placeholder="Enter the content" name="content" rows="10" cols="34"></textarea><br>
        <button class="edit"> submit!</button>
    </form>
</body>
</html>