h1{
    color: maroon;
}
/* .post{
    background-color: rgba(139, 80, 100, 0.164);
} */
.pos{
    background-color: rgba(139, 80, 100, 0.164);
}
.user{
    font-style:italic;
    font-weight: 400;
}
.ancher{
    text-decoration: none;
    color: white;
}
.btn{
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25%;
} 
.btn1{
    background-color: #c92828; 
    border: 2px solid black;
    color: rgb(3, 3, 4);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30%; 
}
.anch1{
    text-decoration: none;
    font-size: 18px;
    color: blue;
}
.btn2{
    background-color: #261da2; 
    border: 2px solid black;
    color: rgb(3, 3, 4);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30%; 
}
.edit{
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    font-size: 16px;
    border-radius: 25%;
}
